# PSQL
PGHOST=
PGPORT=
PGDATABASE=
PGUSER=
PGPASSWORD=

# PSQL for Airflow
AIRFLOW_PGDATABASE=
AIRFLOW_PGUSER=
AIRFLOW_PGPASSWORD=

# Mistral API Key
MISTRAL_API_KEY=

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000