# PostgreSQL - Data
PGHOST=postgres_data
PGPORT=5432
PGDATABASE=nl2sql_db
PGUSER=
PGPASSWORD=

# PostgreSQL - Airflow
AIRFLOW_PGDATABASE=airflow_db
AIRFLOW_PGHOST=postgres_airflow
AIRFLOW_PGPORT=5432
AIRFLOW_PGUSER=
AIRFLOW_PGPASSWORD=

# Mistral API Key
MISTRAL_API_KEY=
